###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################


define contact{
	contact_name 			jason
	use				generic-contact
	alias				Wang Binhong (Nokia-CN/Hangzhou)
	email				binhwang@nokia.com
	}

define contact{
	contact_name 			BTSSM_group
	use				generic-contact
	alias				I_EXT_MANILATC_EP_IV_SWI_SCM_DL@internal.nsn.com
	email				I_EXT_MANILATC_EP_IV_SWI_SCM_DL@internal.nsn.com
        host_notifications_enabled      0
        service_notifications_enabled   0
	}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       BTSSM
        alias                   BTSSM Administrators
	members			BTSSM_group,jason
        }
