##############################################################################
#CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################


define contact{
        contact_name                    alex
        use                             generic-contact
        alias                           jiang lingyun (Nokia-CN/Hangzhou)
        email                           lingyun-alex.jiang@nokia.com
        }

define contact{
        contact_name                    judy
        use                             generic-contact
        alias                           wang juan (Nokia-CN/Hangzhou)
        email                           juan-judy.wang@nokia.com
        }
define contact{
        contact_name                    darren
        use                             generic-contact
        alias                           jin guilin (Nokia-CN/Hangzhou)
        email                           guilin-darren.jin@nokia.com
        }
define contact{
        contact_name                    tom
        use                             generic-contact
        alias                           cao wei (Nokia-CN/Hangzhou)
        email                           wei-tom.cao@nokia.com
        }
define contact{
        contact_name                    mark
        use                             generic-contact
        alias                           zhang yang (Nokia-CN/Hangzhou)
        email                           yang-mark.zhang@nokia.com
        }
define contact{
        contact_name                    amy
        use                             generic-contact
        alias                           chen jing (Nokia-CN/Hangzhou)
        email                           jing-amy.chen@nokia.com
        }
define contact{
        contact_name                    panda
        use                             generic-contact
        alias                           xiong jiehua (Nokia-CN/Hangzhou)
        email                           jiehua-panda.xiong@nokia.com
        }

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       WCDMA_CB
        alias                   WCMDA_CB
        members                 alex,judy,darren
        }
define contactgroup{
        contactgroup_name       WCDMA_DSP
        alias                   WCMDA_DSP
        members                 panda,mark,tom,amy
        }

define contactgroup{
        contactgroup_name       WCDMA
        alias                   WCMDA
        members                 alex
        }            
