###############################################################################
# bedsmv66.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

define command{
        command_name    check-bedsmv66-alive
        command_line    $USER1$/check_ping -H bedsmv66.china.nsn-net.net -w 3000.0,80% -c 5000.0,100% -p 5
    }



#As belib63 is in DHN, so we have to use a bridge nrpe command

# Define a host for the local machine
define	host{
	use                     linux-server
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               bedsmv66
        alias               	7.7G, 8 Cores, RHEL Server release 6.5 (Santiago)
        address                 belinv63.china.nsn-net.net		;we use a VM machine as a bridge nrpe
	check_command           check-bedsmv66-alive
        hostgroups              BTSSM-LinSEE 
	_TARGET			bedsmv66.china.nsn-net.net
	_REMOTE			check_remote
        }




###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 100 users, critical
# if > 500 users.

define service{
        use                             btssm-remote-disk
        host_name                       bedsmv66
        service_description             Workspace Disk Partition
        check_command                   check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_disk!$_SERVICEW$!$_SERVICEC$!/besvnn60_jar
	}

define service{
        use                             btssm-remote-process
        host_name                       bedsmv66
        service_description             Total Processes
	check_command			check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_total_procs!$_SERVICEMASTERW$!$_SERVICEMASTERC$
        }

define service{
        use                             btssm-remote-zombie
        host_name                       bedsmv66
        service_description             Zombie Processes
        check_command                   check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_zombie_procs!$_SERVICELINSEEW$!$_SERVICELINSEEC$
        }


# Define a service to check the load on the local machine. 

define service{
        use                             btssm-remote-load
        host_name                       bedsmv66
        service_description             Current Load
	check_command			check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_load!$_SERVICE2W$,$_SERVICE2W$,$_SERVICE2W$!$_SERVICE2C$,$_SERVICE2C$,$_SERVICE2C$
        }

define service{
	use				btssm-remote-memory
	host_name			bedsmv66
	service_description		Memory Status
	check_command			check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_mem!$_SERVICEW$!$_SERVICEC$
}



#define service{
#        use                             btssm-remote-general
#        host_name                       bedsmv66
#        service_description             IOstat /work Home of Jenkins
#        check_command                   check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_iostat_work!$_HOSTTARTGET$!1000,18000,18000!1500,20000,20000
#}

#define service{
#        use                             btssm-remote-general
#        host_name                       bedsmv66
#        service_description             IOstat /work_local workspace of bedsmv66
#        check_command                   check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_iostat_work_local!1500,20000,25000!2500,30000,70000
#}

#define service {
#        use                             btssm-remote-general
#        host_name                       bedsmv66
#        service_description             check eth0 interface
#        check_command                   check_nrpe_indirect!$_HOSTREMOTE$!$_HOSTTARGET$!check_network_band!eth0!10000Mb!8000,8000!10000,10000
#}

#define service {
#        use                             remote-normal-service
#        host_name                       bedsmv66.china.nsn-net.net
#        service_description             CPU utilization

	

